{% load crispy_forms_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iVW</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color:#f9f9f9">


<nav class="navbar navbar-expand-sm navbar-dark fixed-bottom" style="background-color:#2A5BA7;
                                                                    -webkit-box-shadow: -8px 18px 21px 17px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 18px 21px 17px rgba(0,0,0,0.75);
box-shadow: -8px 18px 21px 17px rgba(0,0,0,0.75);">

    <div class="collapse navbar-collapse" id="navbar_content">
        <div class="navbar-nav ml-auto" style="margin-right:5px">
          <a class="navbar-brand mr-auto" style="color:white" >
             Interactive Volkswagen Whiteboard
           </a>
        </div>
    </div>
    <div class="navbar-nav ml-auto">
          <a class="navbar-brand mr-auto" style="color:white" >
            <img src="/static/volkswagen_logo_no_transparency.png" width="30" height="30" class="d-inline-block align-top" alt="">
          </a>
    </div>

</nav>

<div style="padding-bottom:60px">
    <div class="text-center sticky-top" style="-webkit-box-shadow: 2px -18px 22px 20px rgba(0,0,0,0.75);
                                                -moz-box-shadow: 2px -18px 22px 20px rgba(0,0,0,0.75);
                                                box-shadow: 2px -18px 22px 20px rgba(0,0,0,0.75);">
        <div class="card sticky-top" style="background-color:#2A5BA7; border-radius:0">
            <div class="card-header border-secondary text-white">
                        <h2 class="text-white">Create Area
                        <!--{% if user.is_authenticated %}
                            <small>{{user.get_full_name}}</small>
                        {% endif %}-->
                        </h2>
            </div>
        </div>
    </div>

    <div class="container" style="max-width:800px; margin-top:15px; padding-bottom:80px">
        <div class="alert bg-info text-white" role="alert">
            <h5>Create a new Area</h5>
            <small>Select multiple whiteboards for it - press CTRL</small>
        </div>
        <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn-lg btn-info" style="margin-top:20px; float:right">Next >></button>
    </form>
    </div>
</div>

</body>
</html>